{% extends "base_generic.html" %}

{% block content %}
<h1>Library</h1>

        <ul>
            <li><strong>Books:</strong> {{ num_books }} </li>
            <li><strong>Authors:</strong> {{ num_authors }}</li>
            <li><strong>Publishers:</strong> {{ num_publishers }}</li>
            <li><strong>Store:</strong> {{ num_store }}</li>

        </ul>

        <ul>
            <li> <strong>  Mid price: </strong>{{ avg_p }} $</li>
            <li> <strong>  Maximum price: </strong>{{ max_p }} $</li>
            <li> <strong>  Minimum price: </strong>{{ min_p }} $</li>
        </ul>


{% endblock %}
