{% extends "base_generic.html" %}

{% block content %}
    <h1>Publisher List</h1>

    {% if publisher_list %}
    <ul>
        <table>
             <th>Publishers</th>
             <th>Number of books</th>
                {% for publisher in publisher_list %}
                <tr>
                    <td><a href="{{ publisher.get_absolute_url }}">{{ publisher.name }}</a>  </td>
                    <td>{{publisher.num_book}}</td>
                 </tr>
                    {% endfor %}
         </table>
    </ul>
    {% else %}
      <p>There are no publisher in the library.</p>
    {% endif %}
{% endblock %}
