{% extends "base_generic.html" %}

{% block content %}
  <h1>Store: {{ store }}</h1>

<div style="margin-left:20px;margin-top:20px">
<h4>Books: {{ store.num_books }} pc.</h4>

        <ul>
            <li> <strong>  Mid price: </strong>{{ store.avg_price }} $</li>
            <li> <strong>  Maximum price: </strong>{{ store.min_price }} $</li>
            <li> <strong>  Minimum price: </strong>{{ store.max_price }} $</li>
        </ul>

    <dl>
        {% for book in store.books.all %}
          <dt><a href="{% url 'book-detail' book.pk %}">{{book.name}} </a>
              (Rating: {{book.rating}}) - {{ book.price}}$</dt>
        {% endfor %}
    </dl>

</div>
{% endblock %}